.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    border-radius: 46px;
    background: linear-gradient(135deg, #6a6fff 30%, #b402ff 100%);
    padding: 1rem;
    margin-top: 12%;
}

.welcome-card {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.welcome-title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.welcome-message {
    font-size: 1.2rem;
    color: #555;
}

strong {
    color: #3f51b5;
}
